html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  font-family: 'Oswald';
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}

nav ul {
  display: flex;
  column-gap: 30px;
  align-items: center;
  width: 100%;
}

.add-product-page {
  margin-left: auto;
  margin-right: 30px;
  padding: 3px 6px;
  font-size: 26px;
  border: 1px solid #252525;
  background-color: #9c122a;
}

.add-product-page a {
  color: white;
}


.nav-item :hover {
  color: #9c122a;
}

a {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  color: #252525;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: #333;
}

h2, h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 1;

  text-align: center;
  /* color: #862633; */
  color:#9c122a;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
  border-top: 1px solid black;
}

footer table {
  border-spacing: 20px;
}

button {
  cursor: pointer;
}

.social-media-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand {
  border-bottom: 1px solid black;
}

.brand-title {
  display: flex;
  justify-content: center;
}

.brand-article-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 30px;
  margin: 30px 90px;
  margin-bottom: 70px;
}

.brand-article-container img {
  margin: 0 auto;
}

.brand-article-content {
  flex-direction: column;
  font-family: 'Helvetica Neue', sans-serif;
  font-style: 14px;
  font-size: 18px;
  line-height: 1.5;
}


.our-logo {
  width: 8%;
}

.brand-logo {
  width: 30%;
}

.brand-logo-harley {
  width: 50%;
}

.photo-zone {
  display: block;
}

.photo-zone img {
  
  width: 100%;
  height: 500px;
  object-fit: fill;
}

.model-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}


.model-line-title {
  background-image: url("/images/modelLine.jpg");
  color: white;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: normal;
  padding: 30px 0;
  background-repeat: no-repeat;
  width: 100%;
}

.model-line-items {
  display: flex;
}

.model-img {
  width: 500px;
}

.all-models-btn {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  padding: 10px 15px;

  

  letter-spacing: 0.7;
  background-color: #9c122a;

}

